@media (max-width: 2560px)
 .feedback
  background: url('../img/feedback/feedback-bg.jpg') no-repeat center right 15%
  background-size: contain
 .main-image
  transform-origin: top left
@media (max-width: 1920px)
 .feedback
  background: url('../img/feedback/feedback-bg.jpg') no-repeat center right -6%
  background-size: contain

@media (max-width: 1440px)
 .feedback
  // background: url('../img/feedback/feedback-bg.jpg') no-repeat center right -55%
  background-size: cover
 .main-image
  transform-origin: top left
  z-index: 1
 .form
  margin-left: auto
  margin-right: auto

@media (max-width: 1360px)
 .feedback
  background-color: #fff
 .container
  width: 970px
  margin-left: 57px
 .form
 .form__title
  text-align: center
 .form__subtitle
  text-align: center
 .main-image
  position: absolute
  width: 505px
  height: 430px
  right: -90px
  box-shadow: 10px 5px 50px rgba(0,0,0,0.1)


@media (max-width: 992px)
 .container
  width: 767px
 .main
  &-text
   &__title
    font-size: 30px
    line-height: 36px
 .feedback
  background: #fff
 .form__title
  text-align: center
  margin-left: 155px
 .form__subtitle
  text-align: center
  margin-left: 155px
 .input
  margin-left: 240px
 .form__button
  margin-left: 85px
 .form__footer
  flex-direction: column
 .form__contact
  margin-left: 255px
 .form__call
  margin-left: 300px
 .main-image
  display: center
  

@media (max-width: 768px)
 .container
   width: 95%
 .main
  &-wrap
   flex-direction: column
   &-text
    min-width: 400px
    margin: auto
 .main-text__title
  text-align: center
 .main-advantages
  margin-left: 180px
 .form__title
  text-align: center
  margin-left: 155px
 .form__subtitle
  text-align: center
  margin-left: 155px
 .input
  margin-left: 240px
 .form__button
  margin-left: 85px
 .form__footer
  flex-direction: column
 .form__contact
  margin-left: 255px
 .form__call
  margin-left: 300px
 .main-image
   transform-origin: top left
   transform: scale(1)
   z-index: 1
   margin-left: 30px

  
 

@media (max-width: 425px)
 .main-text__title
  text-align: center
 .main-advantages
  margin-left: 30px
 .header-text__button
   display: none
 .header-text__contacts
   &::before
    content: url(../img/feedback/phone.png)
 .form__title
  text-align: center
  margin-left: 0px
 .form__subtitle
  text-align: center
  margin-left: 0px
 .input
  margin-left: 69px
 .form__footer
  flex-direction: column
 .form__call
  margin-left: 130px
 .form__contact
  margin-left: 95px
 .form__button
  margin-left: 0px
 .main-image
   transform-origin: top left
   transform: scale(1)
   z-index: 1
   margin-left: 15px

@media (max-width: 375px)
 .main-text__title
   text-align: center
   margin-left: 10px
 .main-advantages
   margin-left: 13px
 .input
   margin-left: 44px
 .form__contact
   margin-left: 65px
 .form__call
   margin-left: 108px
 .form__subtitle
  text-align: center
  margin-left: 0px
 .form__title
  text-align: center
  margin-left: 0px
 .form__button
  margin-left: 0px

@media (max-width: 320px)
 .input
   margin-left: 22px
 .form__button
  margin-left: 2px
 .form__contact
  margin-left: 45px
 .form__call
  margin-left: 90px
 .form__subtitle
  text-align: center
  margin-left: 5px
 .form__title
  text-align: center
  margin-left: 10px



